/* Colors */
:root {
  /* Primary Colors */
  --bg: #ffffff;
  --bg-dark: #f6f7f9;
  --border: #dadce0;
  --text: rgb(0, 0, 0, 0.85);
  --text-white: #ffffff;
  --text-faded: #5f6368;
  --text-title: #476282;

  /* Effects */
  --shadow-soft: 0px 1px 3px #3c40434d, 0px 1px 3px 1px #3c404326;
}
