@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", sans-serif;
  color: var(--text);
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-align: left;
  font-family: "Lora", serif;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

h1,
.h1 {
  font-size: 46px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

h2,
.h2 {
  font-size: 28px;
  font-weight: 500;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4,
.h4 {
  font-size: 34px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: normal;
}

.subtitle1 {
  font-size: 1rem;
  letter-spacing: 0.15px;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
}

.lead {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.title {
  color: var(--text-title);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin-bottom: 28px;
}

p,
.p {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;
}

.body2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  letter-spacing: 0.25px;
  line-height: 20px;
}

label,
.label {
  @extend p;
  color: var(--text-faded);
}

a {
  color: var(--primary);
  text-decoration: none;
}

blockquote {
  margin: 1em 0;
  padding: 0 24px;
  color: var(--accent);
  border-left: 4px solid var(--accent);
}

.author {
  margin-top: -8px;
  font-family: "Lora", serif;
  color: var(--text-faded);
  font-size: 24px;
}
